/*====================================

NAVBAR

====================================*/

.custom-navbar{

background:#1f2937;

padding:15px 0;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.brand-green{

color:#00B87B;

}

.custom-navbar .nav-link{

color:white!important;

margin-left:18px;

font-weight:600;

transition:.3s;

}

.custom-navbar .nav-link:hover{

color:#00B87B!important;

}

/*====================================

HERO

====================================*/

.hero-section{

background:linear-gradient(135deg,#1f2937,#314355);

color:white;

padding-top:90px;

}

.hero-small{

color:#00B87B;

font-weight:700;

letter-spacing:3px;

}

.hero-title{

font-size:60px;

font-weight:800;

margin:20px 0;

}

.hero-subtitle{

color:#00B87B;

margin-bottom:25px;

font-weight:600;

}

.hero-description{

font-size:18px;

line-height:1.9;

color:#d7d7d7;

margin-bottom:35px;

}

.hero-buttons{

display:flex;

gap:15px;

flex-wrap:wrap;

}

.hero-badge{

display:inline-block;

background:#00B87B;

padding:10px 22px;

border-radius:50px;

margin-bottom:25px;

font-weight:600;

}

.hero-image-card{

position:relative;

text-align:center;

}

.hero-image{

width:370px;

border-radius:30px;

border:5px solid #00B87B;

box-shadow:0 20px 60px rgba(0,0,0,.35);

}

.floating-card{

position:absolute;

background:white;

color:#314355;

padding:12px 20px;

border-radius:15px;

font-weight:700;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.top-card{

top:30px;

right:0;

}

.bottom-card{

bottom:30px;

left:0;

}

@media(max-width:991px){

.hero-title{

font-size:42px;

}

.hero-image{

width:280px;

margin-top:50px;

}

.hero-content{

text-align:center;

}

.hero-buttons{

justify-content:center;

}

}